{% extends "layout/layout.twig" %}

{% block content %}

    <div id="content" class="container">
        <div class="row">
            <div class="col-sm-12">
                <h1><i class="fas fa-home"></i> {{ appName }}</h1>
                <br>
                Version: {{ version }}
            </div>
        </div>
    </div>

{% endblock %}
